<div>
    <dhcp-navbar></dhcp-navbar>
    <div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="background:#f8f8ff">
        <form>
            <div>
                <label class="col-2">黑客松名字 </label>
                <input id="hackathonName" type="text">
            </div>
            <div>
                <label class='col-2'>黑客松简介 </label>
                <input id="hackathonIntro" type="text">
            </div>
            <div>
                <label class="col-2">地址</label>
                <input id="address" type="text">
            </div>
            <div>
                <label class="col-2">目标众筹</label>
                <input id="target_eth">
            </div>
            <div>
                <label class="col-2">自己认购</label>
                <input id="host_eth">
            </div>
            <div>
                <label class="col-2">开始众筹时间</label>
                <input id="fund_start_time">
            </div>
            <div>
                <label class="col-2">结束众筹时间</label>
                <input id="fund_end_time">
            </div>
            <div>
                <label class="col-2">开始比赛时间</label>
                <input id="game_start_time">
            </div>
            <div>
                <label class="col-2">结束比赛时间</label>
                <input id="game_end_time">
            </div>

            <button class="btn btn-primary" (click)="registerNewUser()">提交</button>
        </form>
        <div class="col-4"></div>
        <!-- 黑客松名字： {{selectedHackathon.name}}<br>
        众筹地址： {{selectedHackathon.address}}<br>
        主办方资金： {{selectedHackathon.host_fund_eth}}<br>
        目标筹集资金：{{selectedHackathon.target_fund_eth}}<br> -->
    </div>
</div>
</div>